Source: avsystem
Priority: optional
Maintainer: Seungbae Shin <seungbae.shin@samsung.com>, Jeongmo Yang <jm80.yang@samsung.com>, JongHyuk Choi <jhchoi.choi@samsung.com>
Uploaders: YoungHwan Ahn <younghwan_.an@samsung.com>
Build-Depends: debhelper (>= 5), autotools-dev, libasound2-dev, libascenario-dev, libmm-log-dev, libexif-dev, iniparser-dev, libmm-ta-dev, libpulse-dev
Standards-Version: 3.7.2
Section: libs

Package: libavsystem-dev
XB-Public-Package: no
Section: libdevel
Architecture: any
Depends: libavsystem-0 (= ${Source-Version}), libavsystem-sdk-dev, libasound2-dev, libpulse-dev
Description: avsystem library development package for sdk build

Package: libavsystem-sdk-dev
Section: libdevel
Architecture: any
Depends: libavsystem-0 (= ${Source-Version}), libasound2-sdk-dev, libascenario-dev, libmm-log-sdk-dev, libexif-dev, libmm-ta-sdk-dev, libpulse-dev
Description: avsystem library development package for sdk release

Package: libavsystem-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: avsystem multimedia library package
  avsystem provide low level sound / camera / video control method

Package: libavsystem-0-dbg
Section: debug
Architecture: any
Depends: ${misc:Depends}, libavsystem-0 (= ${Source-Version})
Description: avsystem library debug package (unstripped)
