[Unit]
Description=Start the av system 
After=pulseaudio.service 

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/sound_initializer -i 
ExecStop=/usr/bin/sound_initializer -u 

[Install]
WantedBy=tizen-mobile.target